/* Loader Animation */

.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

@keyframes l5 {
    0% {
        box-shadow: 15px 0 #475569, -15px 0 rgba(148, 163, 184, 0.4);
        background: #cbd5e1;
    }
    33% {
        box-shadow: 15px 0 #475569, -15px 0 rgba(148, 163, 184, 0.4);
        background: #94a3b8;
    }
    66% {
        box-shadow: 15px 0 rgba(71, 85, 105, 0.2), -15px 0 #475569;
        background: #e2e8f0;
    }
    100% {
        box-shadow: 15px 0 rgba(71, 85, 105, 0.2), -15px 0 #fbfbfb;
        background: #ffffff;
    }
}


/* Button Bounce Animation */

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-10px);
    }
    40% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-3px);
    }
}

.bounce {
    animation: bounce 2s infinite ease-in-out;
}


/* Gradient text for Hire Hub title */

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}